.logo_container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_container .icon{
    font-size: 2rem;
    color: var(--color-primary);
}

.logo_container .name{
    font-size: 1.5rem;
}