.navbar{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 200;
    background: var(--color-ui-secondary);
}

.navbar .cloumn,
.navbar .menu_group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .menu_group .item{
    color: var(--color-muted);
    transition: var(transition);
    cursor: pointer;
}

.navbar .menu_group .item:hover{
    color: var(--color-text);
}