@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
  --color-primary:#1c968d;
  --color-primary-accent:#12524e;
  --color-success:#33c648;
  --color-warning:#ffbb55;
  --color-white:#ffffff; 
  --color-text:#111111;
  --color-muted: #a0a0a4;
  --radius-1:4px;
  --radius-2:0.8rem;
  --radius-3:1.2rem;
  --radius-4:2rem;
  --radius-5:100%;
  --transition:all 400ms ease;
  --color-text:#FFFFFF;
  --color-ui-primary: rgb(22, 24, 27);
  --color-ui-secondary: rgb(39,46,53);
  --color-ui-variant: rgb(47,54,61);
  --gradient-1:linear-gradient(to right, var(--color-primary) 0%, var(--color-primary-accent) 100%);
  --gradient-2:linear-gradient(190deg,var(--color-primary) 0%,rgba(18, 82, 78,.5) 100%);
  --glow-1: radial-gradient(rgba(18, 82, 78,0.5) 0%, rgba(0, 0, 0,0.5));
}


*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

html,body{
  min-height: 100vh;
  font-family: "Sora",sans-serif;
  color: var(--color-text);
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background: var(--color-ui-primary);
}
body{
  overflow: hidden;
  overflow-y: auto;
  max-width: 200px;
  margin: auto;
 }

 a{
  text-decoration: none;
  color: var(--color-text);
  display: inline-block;
 }

 h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
 }

 p{
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
 }

 img{
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  display: block;
 }
 small{
  display: block;
  font-size: 13px;
  line-height: 18px;
 }

 .container{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 100px 200px;
 }

 .container.full_height{
  min-height: 100vh;
 }

 .text_muted{
  color: var(--color-muted);
 }

 .color_primary{
  color: var(--color-primary);
 }

 .text_gradient{
  background: linear-gradient(violet, var(--color-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
   }

 .profile{
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  overflow: hidden;
  border-radius: var(--radius-5);
  cursor: pointer;
  transition: var(--transition);
 }

 .profile:hover{
  opacity: 0.5;
 }

 .icon_container{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-5);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-text);
  background: var(--color-ui-secondary);
 }

 .icon_container:hover{
  transform: scale(1.2);
 }

 .btn{
  padding: 15px 25px;
  border-radius: var(--radius-5);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-text);
  background: var(--color-ui-secondary);
  transition: var(--transition);
 }

 .btn_primary{
  background: var(--gradient-1);
  color: var(--color-white);
  transition: var(--transition);
 }
 .btn_primary:hover{
  background: transparent;
  box-shadow: 0 0 1px 2px var(--color-primary);
  color: var(--color-primary);
 }

 .title{
  font-size: 55px;
  font-weight: 800;
  margin: 20px 0;
 }

 .primary-effect,.blur-effect{
  position: relative;
 }

 .primary-effect::before
 .blur-effect::before{
    content: "";
    position: absolute;
  }
 .primary-effect::before{
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 50%;
  transition: var(--transition);
  background: linear-gradient(to bottom, transparent 0%, var(--color-primary) 75%);
 }

 .blur-effect::before{
  width: 322px;
  height: 308;
  background: var(--gradient-2);
  border-radius: 50%;
  -webkit-filter: blur(150px);
  filter: blur(150px);
  z-index: 0;
 }

 @medis (max-width:1500px){
  .container.full_height{
    min-height: auto;
  }
 }
 @medis (max-width:900px){
  .container{
    padding: 40px 20px;
  }
  .title{
    font-size: 30px;
  }
  .btn{
    font-size: 12px
  }
  }
 

 
  